.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  text-align: center;
  flex-direction:column;

}

.Plates{
  padding-top: 10%;
  display:flex;
  flex-direction:row;
  justify-content:space-around; 
  align-items:center;
}

.Plate {
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15vw;
  height: 15vw;
}

.RedPlate{
  background-color:red;
}
.BluePlate{
  background-color:blue;

}
.YellowPlate{
  background-color:yellow;
}
.GreenPlate{
  background-color:green;
}
.WhitePlate{
  background-color: white;;
}
.LittleRedPlate{
  background-color: red;
}
.SilverPlate{
  background-color: silver;
}

.InputWeight{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:5%;
}